.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 60px;
  height: 100vh;
}

.logo {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #3498db, #2ecc71);
  border-radius: 50%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: smoothBounce 2.5s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes smoothBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6rem;
  color: var(--primary-accent);
}

.slogan {
  font-size: 3rem;
  color: var(--secondary-accent);
  font-style: italic;
}

@media (width < 820px) {
  .wrapper {
    flex-direction: column;
    margin-top: 100px;
  }

  .title {
    font-size: 2.2rem;
  }
  .slogan {
    font-size: 1.5rem;
  }
}
